# Distribution / packaging
.Python
wheels/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# DS_Store files
.DS_Store

# ignore Data subdirectories
data/audio/
data/images/

#ignore large saved models due to size issues 
models/CNN_VGG/checkpoints/best_model.pth
models/CNN_VGG/checkpoints/last_checkpoint.pth
models/CNN_ResNet/checkpoints/best_model.pth
models/CNN_ResNet/checkpoints/resnet_speech_commands.pth
models/CNN_ResNet/checkpoints/best_resnet.pth
models/CNN_ResNet/checkpoints/noisy_resnet.pth

# ignore logs, including tensorboard runs 
logs/

# __pycache__
__pycache__/

